h1 {
font-size: 10vw;  
}

.maintitle {
font: 100%/1.5 "Roboto", Verdana, sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-weight: 100;
  letter-spacing: -.05em;
}

.maintitle {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

/*.mega {
font-size: 6rem;
}*/

.island {
  padding: 1.5rem;
}